:root {
    --grey_light: rgb(244, 244, 244);
    --text_orange: rgba(252, 100, 35, 1);
    --text_grey_light: rgb(130, 130, 130);
    --text_grey: rgb(90, 90, 90);
}

@font-face {
    font-family: 'varela';
    src: url('./src/VarelaRound.ttf');
}

body {
    margin: 0px;
    background-color: var(--grey_light);
    color: var(--text_grey);
    overflow-x: hidden;
}

.main_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;

    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 50px;
    box-shadow: 0px 1px 4px rgb(200, 200, 200);

    font-size: 30px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    color: var(--text_grey_light);
}

.main_button:hover {
    transition-duration: 1s;
    color: var(--text_orange);

    box-shadow: 0px 1px 4px rgb(100, 100, 100);
}

.topbox {
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 2;

    /* 防止溢出 */
    width: 100%;
    height: 55px;
    background-color: white;
    box-shadow: 0px 1px 5px rgb(100, 100, 100);
}

/* 标题栏 */
.title {
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
}

/* 用户头像 */
.user_icon {
    float: right;
    right: 0px;
    margin-right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    box-shadow: 0px 1px 5px rgb(100, 100, 100);

    user-select: none;
    cursor: pointer;
}

/* 用户昵称 */
.user_name {
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 35px;
    line-height: 50px;

    user-select: none;
    cursor: pointer;
}

/* 用户选择面板 */
.user_select {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    padding: 30px;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 7px rgb(100, 100, 100);
}

/* 面板的标题 */
.small_title {
    margin-top: 10px;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

/* 企业用户登录面板 */
.enterprise_login {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 280px;
    padding: 30px;

    background-color: white;
    box-shadow: 0px 2px 7px rgb(100, 100, 100);
    border-radius: 10px;
}

/* 输入框的每一项 */
.input_item {
    margin-left: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* 输入框的说明 */
.input_info {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 100px;
    text-align: center;
}

/* 输入框 */
.input_box {
    width: 200px;
    height: 25px;
    font-size: 20px;
}

/* 面板上的按钮 */
.box_button {
    height: 25px;
    width: 110px;
    padding-bottom: 5px;
    border-radius: 3px;
    
    text-align: center;
    font-size: 20px;
    user-select: none;
    cursor: pointer;

    display: inline-block;
}

/* 页面container */
.container {
    margin-top: 150px;
    margin-bottom: 150px;;
    padding: 0px;
    width: 1120px;
    background-color: red;
    position: absolute;
}

/* 个人中心的选项 */
.box_menu {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    width: 250px;
    height: 250px;
    padding: 30px;

    background-color: white;
    box-shadow: 0px 2px 7px rgb(100, 100, 100);
    border: 0px;
    border-radius: 10px;

    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

/* 每一项的标题 */
.box_title {
    margin-top: 0px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    border-bottom: 2px solid var(--text_grey_light);
}

/* 登出和返回等按钮 */
.menu_button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    position: fixed;

    border-radius: 5px;
    background-color: white;
    width: 150px;
    height: 50px;
    box-shadow: 0px 1px 4px rgb(100, 100, 100);

    text-align: center;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.menu_button p {
    margin: 0;
}