<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <!-- jquery -->
  <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="./index.css"></link>
  <script src="./init.js"></script>

  <title>welcome</title>
</head>

<body>
  <p id="web_name">工业APP安全等级评定系统</p>
  <style>
    #web_name {
      text-align: center;
      font-size: 70px;
      font-weight: bold;
      margin-top: 250px;
      color: rgb(90, 90, 90);
    }
  </style>


  <form method="POST" id="start_form" action="login">
    <div class="main_button" type="submit" formaction="login" onclick="start_use()">
      <p id="start_use">
        开始使用
      </p>
      <style>
        #start_use {
          margin: 0px;
          text-align: center;
          color: inherit;
        }
      </style>

      <script>
        // 手动提交表单
        function start_use() {
          var form = document.getElementById("start_form");
          form.submit();
        }
      </script>
    </div>
  </form>

</body>

</html>