<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="./index.css"></link>

    <!-- jquery -->
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <title>welcome</title>
</head>

<body>

    <form method="POST">
        <input type="text" name="account" formaction="">
        <button formaction="login/home">login</button>
    </form>
    <!-- <p class="lead" th:text="${greeting}">(greeting)</p> -->
</body>

</html>