<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <!-- jquery -->
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/src/index.css">
    </link>
    <script src="/src/init.js"></script>
    <title>审核完毕</title>
</head>

<body onresize="resize()">
    <div class="topbox">
        <a class="title">审核完毕</a>
        <div id="myself">
            <div class="user_icon"></div>
            <a class="user_name" th:text="${user_name}">未登录</a>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "post",
                url: "/user/enterprise",
                data: {},
                success: function (data) {
                    var container = document.getElementById("container");

                    var finish = 0; // 审核完毕的数量
                    var doing = 0; // 正在审核的数量
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].remain < 0) { // 未完成
                            continue;
                        }
                        
                        console.log("aid: " + data[i].aid);
                        console.log("uid: " + data[i].uid);
                        console.log("appName: " + data[i].appName);
                        console.log("appKind: " + data[i].appKind);
                        console.log("dangerProbability: " + data[i].dangerProbability);
                        console.log("dangerSerious: " + data[i].dangerSerious);
                        console.log("controlClass: " + data[i].controlClass);
                        console.log("start: " + data[i].start);
                        console.log("duration: " + data[i].duration);
                        console.log("remain: " + data[i].remain);
                        console.log("result: " + data[i].result);

                        // 更新ui
                        var item = document.createElement("div");
                        item.className = "box_menu";

                        var appName = document.createElement("p");
                        appName.className = "box_title";
                        appName.innerText = data[i].appName;

                        var result = document.createElement("div");
                        var tmp = my_random(0, 1);
                        if (tmp == 0) { // 不合格
                            result.className = "big failed";
                        } else {
                            result.className = "big succeed";
                        }

                        // 合并
                        item.appendChild(appName);
                        item.appendChild(result);

                        // 添加点击监听
                        var tmpAid = data[i].aid;// TODO 临时变量
                        item.addEventListener("click", function() {
                            window.location.href = "/enterprise/app/finish?aid=" + tmpAid;
                        })

                        // 添加至container
                        container.appendChild(item);
                    }

                }
            })
        });
    </script>

    <div class="container" id="container">
        <style>
            .big {
                line-height: 150px;
                margin-top: 0;

                white-space: pre;
                text-align: center;
                font-size: 80px;
                font-weight: bold;
            }

            .succeed {
                color: rgb(40, 50, 200);
            }

            .succeed::after {
                content: "合格";
            }

            .failed {
                color: rgb(250, 40, 100);
            }

            .failed::after {
                content: "不合格";
            }
        </style>
    </div>

    <div class="menu_button" id="exit"></div>

</body>

</html>