<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <!-- jquery -->
  <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../index.css">
  </link>
  <script src="../init.js"></script>
  <title>用户中心:企业</title>
</head>

<body>
  <div class="topbox">
      <a class="title">工业APP安全等级评定系统</a>
      <div class="user_icon"></div>
      <a class="user_name">未登录</a>
  </div>

  <form method="POST">
    <button class="htmlLogin" formaction="page">添加提交</button>
  </form>

</body>

</html>