<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <!-- jquery -->
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../src/index.css">
    </link>
    <script src="../src/init.js"></script>

    <title>企业用户注册</title>
</head>

<body>
    <div class="topbox">
        <a class="title">工业APP安全等级评定系统</a>
        <div class="user_icon"></div>
        <a class="user_name" th:text="${user_name}">未登录</a>
    </div>

    <div class="enterprise_sign_up">
        <form>
            <p class="small_title">企业注册</p>

            <div class="input_item">
                <a class="input_info">账号</a>
                <input type="text" name="account" class="input_box" maxlength="6" id="uid">
            </div>

            <div class="input_item">
                <a class="input_info">用户名</a>
                <input type="text" name="name" class="input_box" maxlength="6" id="user_name">
            </div>

            <div class="input_item" id="password_item">
                <a class="input_info">密码</a>
                <input type="text" name="password" class="input_box" maxlength="6" id="password">
            </div>

            <div class="input_item">
                <div class="box_button" id="sign_in" onclick="sign_in()">登录</div>
                <div class="box_button" id="sign_up" onclick="sign_up()">注册</div>
            </div>
        </form>

        <style>
            #password_item {
                margin-bottom: 30px;
            }
        </style>

        <script>
            function sign_in() {// 跳转到登陆
                window.location.href = "/enterprise/sign_in";
            }
            
            function sign_up() {
                var uid = document.getElementById("uid").value;
                var user_name = document.getElementById("user_name").value;
                var password = document.getElementById("password").value;
                console.log("注册:[" + uid + ", " + user_name + ", " + password + "]");
                $.ajax({ // 获取用户所有app
                    type: "post",
                    url: "/action/sign_in",
                    data: {
                        "uid": uid,
                        "user_name": user_name,
                        "password": password
                    },
                    // 验证信息
                    success: function (result) {
                        console.log("注册结果: " + result);
                        if (result == "uid") {
                            alert("账号已经存在");
                        } else {
                            alert("注册成功: [" + uid + ", " +  user_name + "]");
                            window.location.href = "/enterprise/home";// TODO 如果没有验证错误则进行跳转
                        }
                    }
                });
            }
        </script>
    </div>

    <div class="menu_button" id="index"></div>

</body>

</html>